doctype html
html 
    head
        meta(charset='UTF-8')
        meta(name='iewport' content='width=device-width, initial-scale=1.0')
        // 插值
        //- <link rel='stylesheet' href='css/style.css'/>
        //- use attributes  使用相对路径 使得从 root开头
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title Natours | #{title}

    body
        // HEADER
        include _header
        // CONTENT
        //- main.main
        //-     h1= tour
        block content
            h1 This is a placeholder heading.
        // FOOTER
        include _footer