//- just content for the overview page
//- will inject this template into the base template (parent template), this process is called extending
extends base
block content 
    h1 This is the tour overview